.footer {
  &-wrapper {
    padding: 133px 100px 29px 90px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-nav__list {
    display: flex;
    align-items: center;
    column-gap: 59px;
  }

  &-nav__item a {
    color: #404041;
    text-align: center;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  &-logo img {
    width: 83px;
    height: 15px;
  }

  &-content__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 61px;
  }

  &-reg__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 47px;
  }

  &-reg__item a {
    color: #404041;
    text-align: center;
    font-family: var(--font-roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }

  &-social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  &-social__item {
    & img {
      width: 12px;
    }
  }

  &-copyright {
    padding-top: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 64px;

    h6 {
      color: rgba(27, 27, 27, 0.35);
      text-align: center;
      font-family: var(--font-roboto);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-wrap: nowrap;
    }

    span {
      width: 100%;
      height: 1px;
      background: #565b58;
    }
  }
}
